/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&family=Roboto:wght@100;300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;400;500;600;700;800;900&family=Raleway:wght@100;300;400;600;700;800;900&display=swap');

:root {
  --bg: rgba(255, 165, 0);
  --text-color: #fff;
  --nav-size: 40px;
  --border: 1px solid orange;
  --speed: 500ms
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Libre Franklin', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .navbar-container {
  height: 50px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name {
  font-size: 1.2rem;
}

.routes {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  font-size: 1.2rem;
  color: #ffffff;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  color: #000;
}

/* .navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: calc(var(--nav-size) * 3.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 43px;
  width: 135px;
  transform: translateX(5%);
  background-color: var(--bg);
  border: var(--border);
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  color: #000;
  height: 40px;
  display: flex;
  align-items: center;
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: rgb(255, 228, 209);
}

.toggleicon {
  margin-left: 8px;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: var(--nav-size);
  background-color: var(--bg);
  color: #fff;
}

.left {
  flex: 1;
}

.right {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 40px;
  position: relative;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: -10px;
  background: var(--bg);
  display: none;
  flex-direction: column;
}

.nav-item:hover .dropdown {
  display: flex;
}

.dropdown a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 655px) {
  .title {
    font-size: 1.05rem;
  }

  .nav-item {
    font-size: 0.95rem;
    margin-right: 10px;
  }

  .wrap {
    column-gap: 2px;
  }
}