.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

.word {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  font-size: 2rem;
}